<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.filadelfia.lucas.igrejafiladelfia">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <service android:name="com.google.android.gms.measurement.AppMeasurementService"
        android:enabled="true"
        android:exported="false"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"

        android:theme="@style/AppTheme">
        <activity android:name=".View.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Configuration"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_configuration" />
        <activity android:name=".View.Appointmentsbook"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Youth"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>
        <activity android:name=".View.Warning"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Message"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_message" />
        <activity android:name=".View.Ministry"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Leadership"
            android:configChanges="orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".View.Contact"
            android:configChanges="orientation"
            android:screenOrientation="portrait"/>

        <activity android:name=".View.Develop"
            android:configChanges="orientation"
            android:screenOrientation="portrait" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /> -->

        <service
            android:name=".Controller.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name=".Controller.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

    </application>

</manifest>